<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>
ScheduleServer
    </display-name>
  <welcome-file-list>
    <welcome-file>
index.html
        </welcome-file>
    <welcome-file>
index.htm
        </welcome-file>
    <welcome-file>
index.jsp
        </welcome-file>
    <welcome-file>
default.html
        </welcome-file>
    <welcome-file>
default.htm
        </welcome-file>
    <welcome-file>
default.jsp
        </welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.schedule.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.schedule.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserImgUpdate</display-name>
    <servlet-name>UserImgUpdate</servlet-name>
    <servlet-class>com.schedule.UserImgUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserImgUpdate</servlet-name>
    <url-pattern>/UserImgUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Init</display-name>
    <servlet-name>Init</servlet-name>
    <servlet-class>com.schedule.Init</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init</servlet-name>
    <url-pattern>/Init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventUpdate</display-name>
    <servlet-name>EventUpdate</servlet-name>
    <servlet-class>com.schedule.EventUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventUpdate</servlet-name>
    <url-pattern>/EventUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventCheck</display-name>
    <servlet-name>EventCheck</servlet-name>
    <servlet-class>com.schedule.EventCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventCheck</servlet-name>
    <url-pattern>/EventCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneDayEventQuery</display-name>
    <servlet-name>OneDayEventQuery</servlet-name>
    <servlet-class>com.schedule.OneDayEventQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneDayEventQuery</servlet-name>
    <url-pattern>/OneDayEventQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupCheck</display-name>
    <servlet-name>GroupCheck</servlet-name>
    <servlet-class>com.schedule.GroupCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupCheck</servlet-name>
    <url-pattern>/GroupCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SocialCheck</display-name>
    <servlet-name>SocialCheck</servlet-name>
    <servlet-class>com.schedule.SocialCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocialCheck</servlet-name>
    <url-pattern>/SocialCheck</url-pattern>
  </servlet-mapping>
</web-app>